.article-infos {
    text-align: center;
}
.img-banner {
    width: 280px;
    height: 280px;
    border-radius: 30px;
}

.list-tec {
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    align-items: center;
    margin-top: 1.6em;
    justify-content: space-around;
}
.icon-tec {
    width: 40px;
    height: 40px;
}

.item-list-tec::before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin-top: 2.6em;
}

.item-list-tec:hover::before {
    opacity: 1;
    visibility: visible;
    margin-top: 2.6em;
}