.text-comment {
    display: none;
}
.section-article-blog {
    overflow: hidden;
}
.main-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.show-article-id {
    background-color: snow;
    border: 1px solid transparent;
    border-radius: 5px 0px 0px 5px;
    color: black;
    width: 60%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.show-article-id > span {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.show-article-id > span > img {
    border-radius: 30px;
}
.show-comments {
    height: 70vh;
    width: 35%;
    border: 1px solid whitesmoke;
    margin-right: 8px;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.list-comments {
    padding-inline-start: 0;
    list-style: none;
}
.item-comments > p {
    display: flex;
    align-items: center;
    gap: 10px;
}
@media only screen and (max-width: 768px) {
    .section-article-blog {
        padding: 10px;
        margin: 10px;
        width: 100vw;
        height: 100vh;
    }
    .main-blog {
        display: flex;
        margin-top: 20%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .show-article-id {
        width: 96%;
        height: 30%;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .show-comments {
        width: 96%;    
        padding: 12px;
        box-sizing: border-box;
        font-size: 12px;
        height: 35vh;
        margin-top: 3%;
        overflow-y: auto;
    }
    .text-comment {
        display: block;
    }
}
.render-html-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}