.button-sign-google {
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;

}