.section-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-comments > label {
    margin: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.section-comments > input {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200%;
    box-sizing: border-box;
}

.icon-warning::before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin-top: -7.0em;
    margin-right: 9.0em;
}
.icon-warning:hover::before {
    opacity: 1;
    visibility: visible;
    margin-top: -7.0em;
    margin-right: 9.0em;
}
.btn-send-comments {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: 700;
    color: black;
    width: 40%;
    padding: 10px;
}
.btn-send-comments:hover {
    background-color: #4db9e0;
    transition: background-color 0.5s ease;
}
@media only screen and (max-width: 768px) {
    .section-comments > input {
        width: 100%;
    }
}