.list-nav {
    padding-inline-start: 0;
    list-style: none;
    width: 20vw;
}
.item-list-nav {
    margin: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #019ACB 98%,
        #019ACB 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 50%;
    background-position-x: right;
    transition: background-size 300ms;
        &:hover {
          background-size: 50% 100%;
          background-position-x: left;
        }
}